:root {
    --main-color: #f68f1e ;
    --black: #13131a;
    --white: #fff;
    --bg: #fef3bd;
    --border: .1rem solid rgba(255, 255, 255, .3);
}
/* Base styling */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}
/* Root */
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    background: transparent;
    scroll-snap-type: y mandatory;
}
/* Pseudo-element for scrollbar */
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
html::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

.btn, .contactBtn, .cBtn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover, .contactBtn:hover, .cBtn:hover {
    letter-spacing: .2rem;
}

/* BODY SECTION  */
body {
    scroll-behavior: smooth;
}
.wrapper {
    position: relative;
    /* overflow: hidden; */
}

.main-bg {
    min-height: 100vh;
    position: absolute;
    background: url(../images/joggingflip.webp) no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    top: -90px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}
section {
    padding: 2rem 7%;
    transition: all 0.5s ease;
}

/* HEADER SECTION START */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transform: translateY(-40px);
    animation: headerAppear 0.8s ease forwards;
}
@keyframes headerAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
header .logo img {
    height: 6rem;
}
header .navbar a {
    margin: 1rem;
    font-size: 1.6rem;
    color: var(--white);
}
header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
header .icons i {
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
header .icons i:hover {
    color: var(--main-color);
}

.icons #menu-btn {
    display: none;
}
header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 40rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0); /* making invisible by shrinking its height */
    transform-origin: top;
}
header .search-form.active {
    transform: scaleY(1);
}
header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}
header .search-form label:hover {
    color: var(--bg);
}
/* CART ITEMS START */
.cart-items-container {
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.cart-items-container.active {
    right: 0px;
}
.cart-items-container .cart-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    font-weight: bold;
    background: var(--bg);
    padding: 10px 0;
    text-align: center;
}
.cart-item-container .cart-item {
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cart-item-container .cart-item .cart-img img {
    height: 6rem;
    width: 5rem;
}
.cart-itm-total {
    font-size: 1rem;
    margin: 1px;
}
.cart-qty {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-qty button {
    cursor: pointer;
    margin: 5px;
    width: 20px;
}
.cart-qty button:hover {
    background: #0056b3;
}
.remove-item {
    border: none;
    /* padding: 5px; */
    cursor: pointer;
}
.remove-item:hover {
    background: #0056b3;
}
.final-total {
    font-size: large;
}
/* CART ITEMS END */
/* HEADER SECTION ENDS */
.reveal {
    opacity: 0;
    transform: translateY(80px);
    transition: all 0.8s ease;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
body .heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 4rem;
}
body .heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

/* HOME SECTION START */
body .home {
    min-height: 100vh;
    transition: all 0.5s ease;
    position: relative;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
}

body .home .content {
    max-width: 70rem;
    z-index: 888;
    color: #fff;
    display: block;
    opacity: 0;
    transform: translateY(40px);
    animation: homeAppear 0.8s ease forwards;
    animation-delay: 0.2s;
}
@keyframes homeAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body .home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
body .home .content h5 {
    font-size: 2.5rem;
}
body .home .content p {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}
.home img {
    height: 40rem;
    margin-left: 50px;
}
/* HOME SECTION END */


/* About section */
.about {
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
}
.about .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

body .about .content h3 {
    font-size: 3rem;
    color: #fff;
}
body .about .content p {
    font-size: 1.8rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

/* Sports section */
.menu {
    min-height: 100vh;
    scroll-snap-align: start;
}
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}
.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img {
    height: 10rem;
    cursor: pointer;
}
.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}
.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 5rem 0;
}
.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}
.menu .box-container .box:hover {
    background: #fff;
    
}
.menu .box-container .box:hover > * {
    color: var(--black);
}

/* Wholesale section */
.products {
    min-height: 100vh;
    scroll-snap-align: start;
}
body .products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .products .box-container .box {
    padding: 2rem;
    text-align: center;
    border: var(--border);
    position: relative;
    overflow: hidden;
}
body .products .box-container .box .icons a{
    padding: .8rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .4rem;
}
body .products .box-container .box .icons a:hover {
    background: var(--main-color);
}
body .products .box-container .box .image img {
    height: 25rem;
    padding: 2rem 0;
}
body .products .box-container .box .content h3, .price {
    color: #fff;
    font-size: 2.5rem;
}
.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
} 
body .products .box-container .box .content .stars {
    padding: 1rem;
    font-size: 1.7rem;
    color: var(--main-color);
}

.wholesaleDetail .detailCont {
    display: none;
    margin-top: 10px;
    background: var(--white);
    padding: 10px;
    border-radius: 4px;
}
.wholesaleDetail .detailCont button {
    margin-right: 5px;
    cursor: pointer;
}




/* Review section */
.review {
    min-height: 100vh;
    scroll-snap-align: start;
}
body .review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .review .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
body .review .box-container .box .quote {
    height: 7rem;
}
body .review .box-container .box p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;
}
body .review .box-container .box .user {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
body .review .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
}
body .review .box-container .box .stars i {
    font-size: 1.5rem;
    color: var(--main-color);
}

/* Contact section */
.contact .row form .input-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
body .contact .row form .input-box span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
body .contact .row form .input-box input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* Blogs section */
.blogs {
    min-height: 100vh;
    scroll-snap-align: start;
}
body .blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
body .blogs .box-container .box {
    border: var(--border);
}
body .blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}
body .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body .blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}
body .blogs .box-container .box .content {
    padding: 2rem;
}
body .blogs .box-container .box .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}
body .blogs .box-container .box .content .title:hover {
    color: var(--main-color);
}
body .blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}
body .blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

/* Footer section */
.footer {
    background: var(--black);
    text-align: center;
    position: relative;
    min-height: 100vh;
    scroll-snap-align: start;
}
.footer .share {
    padding: 1rem 0;
}
.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 3rem;
    border-radius: 50%;
}
.footer .share a:hover {
    background-color: var(--main-color);
}
.footer .makeEnquiry {
    color: var(--white);
    border: solid 2px var(--bg);
    padding: 13px;
    cursor: pointer;
    font-size: 2.4rem;
}
.footer .makeEnquiry:hover {
    background-color: var(--main-color);
}

/* ABOUT.HTML */
.aboutHome {
    color: var(--white);
    text-align: center;
    border: var(--border);
    background-image: url(/images/Printing-screen.webp);
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.imageText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 80px;
}
.imageText img {
    width: 40%;
    height: auto;
    display: block;
    border-radius: 10%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

/* SHOP.HTML */
.shopHome {
    color: var(--white);
    text-align: center;
    border: var(--border);
    background-image: url(/images/Tees.webp);
    background-size: cover;
    background-position: top;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}

/* PRODUCT.HTML */
.productSlider {
    margin-top: 20px;
    color: var(--white);
}
.productSlider .box {
    display: flex;
}
.productSlider .box .boxColumn {
    width: 40%;
    margin-right: 50px;
}
.productSlider .box .boxColumn .imgGroup {
    display: flex;
    justify-content: space-between;
}
.productSlider .box .imgGroup .smallImgCol {
    flex-basis: 32.5%;
    cursor: pointer;
}
.productSlider .box .boxDetails {
    width: 50%;
}
.productSlider .box .boxDetails h3 {
    padding: 40px 0 20px 0;
}
.productSlider .box .boxDetails .price {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 8px;
}
.productSlider .box .boxDetails .price span {
    text-decoration: line-through;
    font-weight: lighter;
}
.productSlider .box .boxDetails select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.productSlider .box .boxDetails input {
    width: 50px;
    height: 32px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.productSlider .box .boxDetails span {
    line-height: 21px;
    font-size: 12px;
}

/* PRINTING.HTML */
.printingHome {
    color: var(--white);
    text-align: center;
    border: var(--border);
    background-image: url(/images/screenPrint.webp);
    background-size: cover;
    background-position: center;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.aboutPrint {
    position: relative;
    display: flex;
    gap: 20px;
}
.aboutPrint p {
    /* position: absolute; */
    bottom: 10rem;
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.aboutPrint img {
    display: block;
    border-radius: 10%;
    width: 40rem;
}

/* PRODUCTION.HTML */
.garmentHome {
    color: var(--white);
    text-align: center;
    border: var(--border);
    background-image: url(/images/garmentProduct.webp);
    background-size: cover;
    background-position: top;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.aboutProduct {
    /* position: relative; */
    display: flex;
    gap: 20px;
}
.aboutProduct p {
    /* display: grid; */
    /* position: absolute; */
    /* bottom: 10rem; */
    color: var(--white);
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,1);
}
.aboutProduct p span {
    font-size: 2rem;
    font-weight: normal;
}
.aboutProduct img {
    /* display: block; */
    border-radius: 10%;
    width: 80rem;
}


/* media quaries */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem ;
    }
    .aboutProduct p, .aboutPrint p {
        font-size: 3.5rem;
    }
    .aboutProduct img, .aboutPrint img {
    width: 40rem;
    }
    
}

@media (max-width:768px) {

    /* body {
        overflow: hidden;
    } */
    .imageText img {
        display: none;
    }
    .icons #menu-btn {
        display: inline-block;
    }

    header {
        position: sticky;
    }   

    header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    header .navbar.active {
        right: 0;
    }

    header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }

    header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: right;
        justify-content: center;
        /* text-align: center; */
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 2rem;
    }

    .wrapper .section .content .imageText p {
        font-size: 20px;
    }

    .imageText {
        flex-direction: column;
        text-align: center;
    }
    .imageText img {
        width: 100%;
    }
    .aboutProduct p, .aboutPrint p {
        font-size: 3rem;
    }
    .aboutProduct img, .aboutPrint img {
        width: 30rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .aboutProduct p, .aboutPrint p {
        font-size: 2rem;
    }
    .aboutProduct img, .aboutPrint img {
        width: 20rem;
    }



    .wrapper .section .content .imageText p {
        padding: 10px;
    }
}